#cim{
	position:relative;
	display:flex;
	justify-content:center;
	font-size: 60px;
	font-family: comic sans ms;
	background-color: RGB(255 218 185);
}
.h1{
	background-color:#5b595b;
}
#ro1{
	position:absolute;
	padding-left:1350px;
	margin-top:30px

}
#str{

}
.firstinf{
	background-color:#f7f7f7;
	margin-left:20px;
	margin-top:35px;
	margin-right:20px;
	margin-bottom:20px;
	padding:00px;
	padding-bottom:50px;
	padding-right:100px;
	padding-top:0px;
	padding-left:50px;
	box-shadow: -3px 5px 10px -5px #000000;
	min-width: 500px;
	min-height: 500px;
}
.secondinf{
	background-color:#f7f7f7;
	margin-left:20px;
	margin-top:35px;
	margin-right:20px;
	margin-bottom:20px;
	padding:00px;
	padding-bottom:50px;
	padding-right:100px;
	padding-top:0px;
	padding-left:50px;
	box-shadow: -3px 5px 10px -5px #000000;
	min-height:500px;
}
#thirdinf{
	background-color:#f7f7f7;
	margin-left:20px;
	margin-top:35px;
	margin-right:20px;
	margin-bottom:20px;
	padding:00px;
	padding-bottom:50px;
	padding-right:100px;
	padding-top:0px;
	padding-left:50px;
	box-shadow: -3px 5px 10px -5px #000000;
	min-width: 500px;
	min-height: 500px;
	border-radius: 20px;
}
.firstvideo{
	padding-left:0px;
}
.k1{
	font-size:25px;
  font-weight: 500px;
  color: black;
	position:relative;
  left: 10px;
  top: 50px;
  text-decoration:none;
	font-family:comic sans ms;
}
.k2{
	font-size:25px;
  font-weight: 500px;
  color: black;
	position:relative;
  left: 10px;
  top: 50px;
  text-decoration:none;
	font-family:comic sans ms;
}
.menu{
	margin:0:
	padding:0;
}
header{
	font-family:arial;
}
.menu ul,
.menu ol{
	list-style:none;
}
.menu > ul{
	display:flex;
	justify-content:center;
}
.menu > ul li a{
	display:block;
	padding:10px 30px 10px 40px;
}
.menu > ul li{
	position:relative;
}
.menu li a:hover{
	color:#0c0c0c;
	box-shadow:1px 5px 10px -5px black;
	transition:all 1s ease;

}

.link1{
	font-size: 30px;
    font-weight: 600;
    color: white;
	position:relative;
    left: 0px;
    top: 20px;
    text-decoration:none;
	text-shadow: 0 1px 1px #000;
}
#linx{
	background-color:#e8dee5;
	height:80px;
}

* {
    padding: 0;
    margin: 0;
}
.bounceInDown {
    animation-name: bounceInDown;
}


user agent stylesheet
div {
    display: block;
}
Inherited from div.block
.block {
    /* width: 350px; */
    /* height: 200px; */
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
*{
    padding: 0;
    margin: 0;
}
body{
	background-color:#e8dee5;
}
#elka{
	position:relative;
	left:250px;
}
#blet{
	position:relative;
}
#nycap{
	position:relative;
	right:1190px;
}
#r2{
	position:relative;
	left:20px;
}
.plays{
	padding-left:30px;
	padding-top:30px;
}
.plays ul,
.plays ol{
	list-style:none;
}
.plays > ul li {
	display:block;
	margin-bottom:30px;
	background-color:#f7f7f7;
	box-shadow: -5px 5px 5px -5px #000000;
	margin-right:1150px;
}
#pl{

}
.t4{
	position:relative;
	top:4px;
	font-size: 30px;
    font-weight: 600;
    color:black;
	position:relative;
    left: 0px;
    top: 0px;
    text-decoration:none;
	text-shadow: 0 1px 1px #000;
	opacity:1;
}
.teste{
	padding-top:7px;
	padding-bottom:10px;
	padding-left:10px;
}
#t5{
	position:absolute;
	top:170px;
	right:150px;
	font-size:40px;
	font-family:comic sans ms;
}
#link2{
	position:relative;
	bottom:1.5px;
	margin-left:30px;
	font-size:20px;
	background:linear-gradient(45deg,red,orange,yellow,blue,purple);
	padding:10px;
	border:2px solid black;
	opacity:0;
	border-radius:10px 20px;
	text-decoration:none;
	color:black;
}
#teste2{
	padding-top:7px;
	padding-bottom:10px;
	padding-left:10px;
}
#teste3{
	padding-top:7px;
	padding-bottom:10px;
	padding-left:10px;
}
#teste4{
	padding-top:7px;
	padding-bottom:10px;
	padding-left:10px;
}
#teste5{
	padding-top:7px;
	padding-bottom:10px;
	padding-left:10px;
}
#teste6{
	padding-top:7px;
	padding-bottom:10px;
	padding-left:10px;
}
#teste7{
	padding-top:7px;
	padding-bottom:10px;
	padding-left:10px;
}
#teste8{
	padding-top:7px;
	padding-bottom:10px;
	padding-left:10px;
}
#teste9{
	padding-top:7px;
	padding-bottom:10px;
	padding-left:10px;
}
#teste10{
	padding-top:7px;
	padding-bottom:10px;
	padding-left:10px;
}
#teste11{
	padding-top:7px;
	padding-bottom:10px;
	padding-left:10px;
}
#teste12{
	padding-top:7px;
	padding-bottom:10px;
	padding-left:10px;
}
#teste13{
	padding-top:7px;
	padding-bottom:10px;
	padding-left:10px;
}
#teste14{
	padding-top:7px;
	padding-bottom:10px;
	padding-left:10px;
}
#teste15{
	padding-top:7px;
	padding-bottom:10px;
	padding-left:10px;
}
#teste16{
	padding-top:7px;
	padding-bottom:10px;
	padding-left:10px;
}
#teste17{
	padding-top:7px;
	padding-bottom:10px;
	padding-left:10px;
}
#teste18{
	padding-top:7px;
	padding-bottom:10px;
	padding-left:10px;
	margin-right:1070px;
}
#teste19{
	padding-top:7px;
	padding-bottom:10px;
	padding-left:10px;
}
#link3{
	position:relative;
	bottom:1.5px;
	margin-left:30px;
	font-size:20px;
	background:linear-gradient(45deg,red,orange,yellow,blue,purple);
	padding:10px;
	border:2px solid black;
	opacity:0;
	border-radius:10px 20px;
	text-decoration:none;
	color:black;
}
#link4{
	position:relative;
	bottom:1.5px;
	margin-left:30px;
	font-size:20px;
	background:linear-gradient(45deg,red,orange,yellow,blue,purple);
	padding:10px;
	border:2px solid black;
	opacity:0;
	border-radius:10px 20px;
	text-decoration:none;
	color:black;
}
#link5{
	position:relative;
	bottom:1.5px;
	margin-left:30px;
	font-size:20px;
	background:linear-gradient(45deg,red,orange,yellow,blue,purple);
	padding:10px;
	border:2px solid black;
	opacity:0;
	border-radius:10px 20px;
	text-decoration:none;
	color:black;
}
#link6{
	position:relative;
	bottom:1.5px;
	margin-left:30px;
	font-size:20px;
	background:linear-gradient(45deg,red,orange,yellow,blue,purple);
	padding:10px;
	border:2px solid black;
	opacity:0;
	border-radius:10px 20px;
	text-decoration:none;
	color:black;
}
#link7{
	position:relative;
	bottom:1.5px;
	margin-left:30px;
	font-size:20px;
	background:linear-gradient(45deg,red,orange,yellow,blue,purple);
	padding:10px;
	border:2px solid black;
	opacity:0;
	border-radius:10px 20px;
	text-decoration:none;
	color:black;
}
#link8{
	position:relative;
	bottom:1.5px;
	margin-left:30px;
	font-size:20px;
	background:linear-gradient(45deg,red,orange,yellow,blue,purple);
	padding:10px;
	border:2px solid black;
	opacity:0;
	border-radius:10px 20px;
	text-decoration:none;
	color:black;
}
#link9{
	position:relative;
	bottom:1.5px;
	margin-left:30px;
	font-size:20px;
	background:linear-gradient(45deg,red,orange,yellow,blue,purple);
	padding:10px;
	border:2px solid black;
	opacity:0;
	border-radius:10px 20px;
	text-decoration:none;
	color:black;
}
#link10{
	position:relative;
	bottom:1.5px;
	margin-left:30px;
	font-size:20px;
	background:linear-gradient(45deg,red,orange,yellow,blue,purple);
	padding:10px;
	border:2px solid black;
	opacity:0;
	border-radius:10px 20px;
	text-decoration:none;
	color:black;
}
#link11{
	position:relative;
	bottom:1.5px;
	margin-left:30px;
	font-size:20px;
	background:linear-gradient(45deg,red,orange,yellow,blue,purple);
	padding:10px;
	border:2px solid black;
	opacity:0;
	border-radius:10px 20px;
	text-decoration:none;
	color:black;
}
#link12{
	position:relative;
	bottom:1.5px;
	margin-left:30px;
	font-size:20px;
	background:linear-gradient(45deg,red,orange,yellow,blue,purple);
	padding:10px;
	border:2px solid black;
	opacity:0;
	border-radius:10px 20px;
	text-decoration:none;
	color:black;
}
#link13{
	position:relative;
	bottom:1.5px;
	margin-left:30px;
	font-size:20px;
	background:linear-gradient(45deg,red,orange,yellow,blue,purple);
	padding:10px;
	border:2px solid black;
	opacity:0;
	border-radius:10px 20px;
	text-decoration:none;
	color:black;
}
#link14{
	position:relative;
	bottom:1.5px;
	margin-left:30px;
	font-size:20px;
	background:linear-gradient(45deg,red,orange,yellow,blue,purple);
	padding:10px;
	border:2px solid black;
	opacity:0;
	border-radius:10px 20px;
	text-decoration:none;
	color:black;
}
#link15{
	position:relative;
	bottom:1.5px;
	margin-left:30px;
	font-size:20px;
	background:linear-gradient(45deg,red,orange,yellow,blue,purple);
	padding:10px;
	border:2px solid black;
	opacity:0;
	border-radius:10px 20px;
	text-decoration:none;
	color:black;
}
#link16{
	position:relative;
	bottom:1.5px;
	margin-left:30px;
	font-size:20px;
	background:linear-gradient(45deg,red,orange,yellow,blue,purple);
	padding:10px;
	border:2px solid black;
	opacity:0;
	border-radius:10px 20px;
	text-decoration:none;
	color:black;
}
#link17{
	position:relative;
	bottom:1.5px;
	margin-left:30px;
	font-size:20px;
	background:linear-gradient(45deg,red,orange,yellow,blue,purple);
	padding:10px;
	border:2px solid black;
	opacity:0;
	border-radius:10px 20px;
	text-decoration:none;
	color:black;
}
#link18{
	position:relative;
	bottom:1.5px;
	margin-left:30px;
	font-size:20px;
	background:linear-gradient(45deg,red,orange,yellow,blue,purple);
	padding:10px;
	border:2px solid black;
	opacity:0;
	border-radius:10px 20px;
	text-decoration:none;
	color:black;
}
#link19{
	position:relative;
	bottom:1.5px;
	margin-left:30px;
	font-size:20px;
	background:linear-gradient(45deg,red,orange,yellow,blue,purple);
	padding:10px;
	border:2px solid black;
	opacity:0;
	border-radius:10px 20px;
	text-decoration:none;
	color:black;
}
#loster{
	background-color:#f7f7f7;
	position:absolute;
	box-shadow: -5px 5px 5px -5px #000000;
	left:660px;
	top:400px;
	min-width:600px;
	min-height:800px;
	max-width: 600px;
}
#loster1{
	position:relative;
	left:200px;
	font-family: comic sans ms;
	font-size:60px;
}
#loster2{
	padding-left: 10px;
	font-size: 120%;
	padding-right: 3px;
	font-family:comic sans ms;
}
#podlost{
	position:relative;
	left: 65px;
	top:300px;
}
#losterf{
	position: absolute ;
	left:20px;
	border-radius:30px;
	border:1px solid;
}
.amain{
	background-color: #236b67;
	position: relative;
	min-height: 50px;
	min-width: 150px;
	padding-left:28px;
	padding-top:13px;
	padding-bottom: 15px;
	padding-right: 28px;
	font-size: 30px;
	font-weight: 600;
	color: white;
	text-shadow: 0 1px 1px #000;
	text-decoration: none;
	margin-left: 650px;
	margin-right: 640px;
	margin-bottom:10px;
	border-radius: 20px;
	border:5px solid #184c49;
}
.main{
	padding-bottom: 40px;
	padding-top: 30px;
}
.amain:hover{
	border:5px solid #113533;
	background-color: #1b5653;
}
.vk{
	text-decoration: none;
	color:black;
}
#t7{
	font-family: comic sans ms;
	font-size: 20px;
}
#stop{
	position: relative;
	left: 490px;
	padding-top: 20px;
}
#t8{
	position:relative;
	bottom: 200px;
}
#t9{
	position: relative;
	padding-bottom: 20px;
}
#tmenu{
	opacity:0;
	text-decoration: none;
}
#menu{
	width:0px;
	height:800px;
	background-color: #f7f7f7;
	position: absolute;
	top:89px;
}
.blockmem{
	background-color:#f7f7f7;
	margin-left:220px;
	margin-top:35px;
	margin-right:220px;
	margin-bottom:20px;
	padding:00px;
	padding-bottom:50px;
	padding-right:100px;
	padding-top:0px;
	padding-left:50px;
	box-shadow: -3px 5px 10px -5px #000000;
	min-width: 500px;
	min-height: 500px;
}
.t10{
	font-size:25px;
	font-weight: 500px;
	color: black;
	position:relative;
	left: 10px;
	top: 20px;
	text-decoration:none;
	font-family:comic sans ms;
}
.hr1{
	position: relative;
	top: 40px;
}
#menu2{
	width:200px;
	height:800px;
	background-color: #f7f7f7;
	position: absolute;
	top:89px;
	left:1520px;
}
#tmenu2{
	list-style: none;
	opacity: 0;
}
#str1{
	position: absolute;
	top:400px;
	left:50px;
}
#str5{
	position: absolute;
	top:400px;
	left:1370px;
	padding-right: 100px;
}
#bm1{
	text-decoration: none;
	color:black;
	font-family: comic sans ms;
	position: relative;
	left:70px;
	top:70px;
	font-size: 20px;
}
#bm2{
	text-decoration: none;
	color:black;
	font-family: comic sans ms;
	position: relative;
	left:70px;
	top:170px;
	font-size: 20px;
}
#bm3{
	text-decoration: none;
	color:black;
	font-family: comic sans ms;
	position: absolute;
	left:70px;
	top:290px;
	font-size: 20px;
}
#bm4{
	text-decoration: none;
	color:black;
	font-family: comic sans ms;
	position: relative;
	left:70px;
	top:370px;
	font-size: 20px;
}
#bm5{
	text-decoration: none;
	color:black;
	font-family: comic sans ms;
	position: relative;
	left:70px;
	top:70px;
	font-size: 20px;
}
#bm6{
	text-decoration: none;
	color:black;
	font-family: comic sans ms;
	position: relative;
	left:70px;
	top:170px;
	font-size: 20px;
}
#bm7{
	text-decoration: none;
	color:black;
	font-family: comic sans ms;
	position: absolute;
	left:70px;
	top:290px;
	font-size: 20px;
}
#bm8{
	text-decoration: none;
	color:black;
	font-family: comic sans ms;
	position: relative;
	left:70px;
	top:370px;
	font-size: 20px;
}
#t11{
	font-size:20px;
	font-family: comic sans ms;
	background-color: red;
	border-radius: 10px;
	border:3px solid #af0000;
	position: relative;
	left:380px;
	text-decoration: underline;
}
